*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

header {
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    background-color: #395776;
    background-image: radial-gradient(
        circle at 50% 130%,
        transparent,
        #303549 120%
    );
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    max-width: 900px;
    padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #395776;
}

h1 {
    text-shadow: 0.1em 0.1em 0.3em #303549;
    color: #ffffff;
    font-weight: 500;
    margin: 1rem;
}

nav ul {
    display: flex;
    font-size: 1.25rem;
    list-style: none;
    padding: 0;
}
nav ul li {
    padding: 0 2em;
}
nav ul li:not(:last-child) {
    border-right: 1px solid currentColor;
}
nav ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: currentColor;
}
nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1em;
    background-color: currentColor;
    transition: width 0.3s;
}
/* nav ul li a:hover {
    text-decoration: underline;
} */
nav ul li a:hover::after {
    width: 100%;
}

h3 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    padding: 1rem;
}

.container {
    margin: 0 auto;
    width: calc(100vw - 2rem);
    max-width: 50rem;
}

.profil-image img {
    border-radius: 50%;
}

.profil-image figcaption {
    font-size: 0.8rem;
    font-style: italic;
    color: #777777;
    text-align: center;
}

article {
    padding-inline: 1rem;
    line-height: 1.5em;
}

table.skills {
    margin: 0 auto;
    border-collapse: collapse;
    caption-side: bottom;
}

.skills caption {
    font-size: 0.9em;
    padding: 0.5em;
    color: #777777;
}

th,
td {
    border: 2px solid #ffffff;
    padding: 0.3em 1em;
}

th {
    background-color: #cbcbcb;
    font-weight: bold;
    border: 2px solid #ffffff;
}

tr:nth-child(even) td {
    background-color: #ebeaea;
}

tr:nth-child(odd) td {
    background-color: #f5f5f5;
}

form.contact-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    max-width: 20rem;
}

fieldset {
    border-radius: 0.5rem;
    border: 1px solid #aaaaaa;
}

label {
    margin-top: 0.75rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="color"],
select,
textarea {
    padding: 0.5em 1em;
    border: 1px solid #aaaaaa;
    border-radius: 0.5em;
    background-color: #ffffff;
    width: 100%;
}

button {
    padding: 0.5em 1em;
    background-color: #395776;
    border: 1px solid #303549;
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #3f678e;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    gap: 1.5rem;
}

.skills-container figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.skills-container img {
    width: 150px;
    height: 150px;
    transition: filter .3s;
}

.skills-container figure:hover img {
    filter: drop-shadow(0 0 1rem rgba(57, 87, 118, 0.5));
}

.skills-container figcaption {
    font-size: 1.2rem;
    font-weight: 500;
    color: #395776;
}

footer {
    padding: 1rem;
    background-color: #395776;
    background-image: radial-gradient(
        circle at 50% -30%,
        transparent,
        #303549 120%
    );
    color: #ffffff;
}

nav.footer-menu {
    display: flex;
    justify-content: center;
}

.footer-menu a {
    font-size: 0.9rem;
}

@media (max-width: 850px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {
    nav ul li {
        padding: 0 1em;
    }
}
